**/*/.DS_Store
**/*/[Oo]bj/
**/*/[Dd]ebug/
**/*/[Bb]in/
**/*/.vs/
**/*/[Pp]roperties/
**/*/TestResults/
**/*/ConfigPath.json
**/*IntegrationTests/settings.json
/Saltworks.SaltMiner.JobManager/Saltworks.SaltMiner.JobManager/Template/*
!/Saltworks.SaltMiner.JobManager/Saltworks.SaltMiner.JobManager/Template/Saltworks

# Python
**/*/__pycache__/
Saltworks.SaltMiner.Python/.venv/
Saltworks.SaltMiner.Python/logs/
Saltworks.SaltMiner.Python/SaltMiner Environment/
Saltworks.SaltMiner.Python/AppVulsCustom/*
!Saltworks.SaltMiner.Python/AppVulsCustom/__init__.py
!Saltworks.SaltMiner.Python/AppVulsCustom/*SW.py
Saltworks.SaltMiner.Python/AuthHelperCustom/*
!Saltworks.SaltMiner.Python/AuthHelperCustom/*SW.py
Saltworks.SaltMiner.Python/Custom/*
!Saltworks.SaltMiner.Python/Custom/*.py
Saltworks.SaltMiner.Python/saltworks.key
Saltworks.SaltMiner.Python/sm-run-config-location.json
Saltworks.SaltMiner.Python/DebugStart.py
