
$issue-severity-critical: #b90000;
$issue-severity-high: #ff0000;
$issue-severity-medium: #ffaa29;
$issue-severity-low: #ffdd29;
$issue-severity-info: #03a4e9;
$issue-severity-best-practice: #7b61ff;