/**
Import font faces in this file for use in this project.
 */
/* 
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype supports variations");
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf") format("truetype supports variations");
  font-style: italic;
}
 */
