<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
    <!-- add Azure Artifacts feed(s) -->
    <add key="SaltMiner" value="https://pkgs.dev.azure.com/saltworks-io/SaltMiner/_packaging/SaltMiner/nuget/v3/index.json" />
    <add key="Saltworks-io" value="https://pkgs.dev.azure.com/saltworks-io/_packaging/saltworks-io/nuget/v3/index.json" />
    <!-- also get packages from the NuGet Gallery -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>