{
  "EncryptionKey": "93sPAanEkU03AuNtMdtswdJwamN4GP35nOM9rAOHDKk=",
  "EncryptionIv": "MciNsF5y+rgtmxdS2KSUIg==",
  "EncryptionTag": "API",
  "ElasticHttpScheme": "http",
  "ElasticHost": "localhost",
  "ElasticPort": 9200,
  "ElasticUsername": "elastic",
  "ElasticPassword": "changeit",
  "Timeout": 20,
  "VerifySsl": true,
  "ElasticSingleNodeCluster": true,
  "AdminApiKeyIs": "secret",
  "ApiKeys": {
    "adminsecret": "admin",
    "managersecret": "manager",
    "pentestsecret": "pentest",
    "breakersecret": "breaker",
    "agentsecret1": "agent 0001",
    "agentsecret2": "agent 0002"
  },
  "AppBaseAddress": "http://localhost:52455/",
  "AppName": "SaltMiner Core Service",
  "ImportBatchSize": 300,
  "AuthTokenSessionTimeout": 15
}