html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  scroll-behavior: smooth;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /* Retina-specific stuff here */
    -webkit-font-smoothing: antialiased;
  }
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 16px;
  background: $brand-body-background-color;
  color: $brand-body-color;
  font-family: $body-font;
  width: 100vw;
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul,
code,
pre {
  margin: 0;
  padding: 0;
}
li {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}

svg {
  display: block;
  width: 100%;
}

pre {
  white-space: pre-wrap; /* CSS 3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

*,
:before,
:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

th {
  text-align: left;
  font-weight: normal;
}

/*
::selection {
    background: $brand-primary;
}
::-moz-selection {
    background: $brand-primary;
}
*/

video {
  pointer-events: none;
}

[v-cloak] {
  display: none;
}
/* 
.markdown-editor * {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  figure,
  ol,
  ul,
  code,
  pre {
    margin: revert;
    padding: revert;
  }
  li {
    display: revert;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: revert;
    font-weight: revert;
  }
  a {
    text-decoration: revert;
    color: revert;
  }
  img {
    max-width: revert;
    height: revert;
    border: revert;
  }

  svg {
    display: revert;
    width: revert;
  }

  pre {
    white-space: revert; 
    word-wrap: revert; 
  }

  *,
  :before,
  :after {
    -moz-box-sizing: revert;
    box-sizing: revert;
  }

  table {
    width: revert;
    border-collapse: revert;
  }

  td,
  th {
    padding: revert;
  }

  th {
    text-align: revert;
    font-weight: revert;
  }

  /*
  ::selection {
      background: $brand-primary;
  }
  ::-moz-selection {
      background: $brand-primary;
  }
  

  video {
    pointer-events: revert;
  }

  [v-cloak] {
    display: revert;
  }
}
 */
