$font-roboto: Roboto, Helvetica, Arial, sans-serif;
$font-opensans: 'Open Sans', sans-serif;

$font-primary: $font-opensans;
$font-secondary: $font-opensans;

$body-font: $font-primary;

$font-heading: $font-primary;
$font-body: $font-primary;
$font-form-control: $font-opensans;
$font-button: $font-opensans;
