@for $i from 0 through 10 {
  .m-#{$i} {
    margin: $baseline * $i (10px * $i);
  }

  .m-y-#{$i} {
    margin-top: $baseline * $i;
    margin-bottom: $baseline * $i;
  }

  .m-x-#{$i} {
    margin: 0 (10px * $i);
  }

  .m-t-#{$i} {
    margin-top: $baseline * $i;

    @media print {
      margin-top: $printBaseine * $i;
    }
  }

  .m-b-#{$i} {
    margin-bottom: $baseline * $i;

    @media print {
      margin-bottom: $printBaseine * $i;
    }
  }

  .m-r-#{$i} {
    margin-right: (10px * $i);
  }

  .m-l-#{$i} {
    margin-left: (10px * $i);
  }
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}
