@for $i from 1 through 12 {
  .p-#{$i} {
    padding: $baseline * $i (10px * $i);
  }

  .p-y-#{$i} {
    padding-top: $baseline * $i;
    padding-bottom: $baseline * $i;

    @media print {
      padding-top: $printBaseine * $i;
      padding-bottom: $printBaseine * $i;
    }
  }

  .p-x-#{$i} {
    padding: 0 (10px * $i);
  }

  .p-t-#{$i} {
    padding-top: $baseline * $i;

    @media print {
      padding-top: $printBaseine * $i;
    }
  }

  .p-b-#{$i} {
    padding-bottom: $baseline * $i;

    @media print {
      padding-bottom: $printBaseine * $i;
    }
  }

  .p-r-#{$i} {
    padding-right: (10px * $i);

    @media print {
      padding-right: $printBaseine * $i;
    }
  }

  .p-l-#{$i} {
    padding-left: (10px * $i);

    @media print {
      padding-left: $printBaseine * $i;
    }
  }
}
