asn1crypto
certifi
pycparser
cffi
chardet
cryptography
idna
pip
six
python-dateutil
setuptools
urllib3
charset-normalizer
requests
httpx
elasticsearch>=8.0.0,<9.0.0
ecs-logging
openpyxl
pydantic
pytenable
aiohttp
jwt
